*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    margin: 40px;
}


.title{
    padding-bottom: 25px;
    width: 160px;
}

.text{
    color: #3d4449;
    font-weight: 600;
    font-size: 25px;
}

.diven{
    border: 2px solid #f56e6e;
    width:100%;
    margin: 15px 0;
}

.logo {  
    position: relative;  
    width: 100px;  
    height: 100px;  
    transform: rotate(45deg);  
    border: 2px solid #eaeded;  
    margin: 30px;
}  

.icon{  
    padding: 30px;
    font-size: 40px;
    transform: rotate(-45deg);
    color: #F56A6A;
}

.heading{
    margin-bottom: 30px;
    color: #404a52;
    font-weight: 600;
}

.content{
    opacity: 0.6;
}
